@import './../variables.css';


.container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    margin: 120px 0;
}

.iconList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 13%;
    width: fit-content;
}

.icon {
    width: 80px;
    margin: 15px 0;
}

.contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-right: 13%;
    margin-left: 7%;
    margin-top: 5%;
    padding: 3%; 
    padding-left: calc(400px);
}

.image {
    position: absolute;
    top: -55%;
    left: 3%;
    width: 300px;
    height: 180%;
    animation: loadIn ease 1s 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes loadIn {
    0% {
        opacity: 0.3;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.books {
    transition: ease-in 1s;
    background-color: rgb(30, 30, 67);
}

.art {
    transition: ease-in 1s;
    background-color: rgb(40, 69, 40);
}

.articles {
    transition: ease-in 1s;
    background-color: rgb(80, 33, 33);
}

.music {
    transition: ease-in 1s;
    background-color: rgb(74, 39, 74);
}