@import "./../../variables.css";

.container {
    position: relative;
    display: grid;
    grid-gap: 5%;
    grid-template-areas:
        'title title'
        'text img';
    grid-template-columns: 55% 1fr;
    grid-template-rows: 20% 1fr;
    height: 90vh;
    width: var(--section-width);
    margin: 0 auto;
    outline: 1px solid red;
    background-color: rgb(var(--bg-rgb));
}

.headingContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: title;
    outline: 1px solid black;
}

.heading {
    font-size: 40px;
    font-weight: 100;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.title {
    font-size: 20px;
    font-weight: 100;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.contentContainer {
    position: relative;
    display: grid;
    padding-top: 20%;
    grid-template-rows: 30% 1fr;
    grid-area: text;
    position: relative;
    text-align: center;
    outline: 1px solid black;
}

.text {
    color: black;
    font-family: var(--text-font);
}

.imgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: img;
    position: relative;
    text-align: center;
    outline: 1px solid black;
}

.img {
    width: 100%;
}

