@import "./../variables.css";

.navbar {
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 0 13%;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 50px;
    z-index: 98;
}

.stuck {
    position: fixed;
    top: 0;
}

.content {
    border-top: 2px solid rgb(var(--accent-rgb));
    border-bottom: 2px solid rgb(var(--accent-rgb));
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 13.5px;
    background-image: linear-gradient(rgba(var(--accent-rgb),.4) 65%, rgba(var(--accent-rgb),.05));
    font-family: var(--text-font);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition-duration: 1s;
    color: white;
}

.hidden {
    height: 0;
    margin-bottom: 62px;
    transition-duration: 1s;
    margin-top: 13.5px;
    padding: 0;
}

/* top nav screen size response */
@media screen and (max-width: 800px) {
    .content {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
