@import './../variables.css';

.container {
    background-color: rgb(var(--accent-rgb));
    padding: 30px 13%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    grid-template-rows: 50% 1fr;
    grid-template-areas: 
        'title content content'
        'title link button';
    align-items: center;
}

.title {
    grid-area: title;
    color: white;
    font-size: var(--heading-size);
    font-family: var(--heading-font);
    text-wrap: balance;
}

.content {
    grid-area: content;
    color: white;
    font-size: var(--text-size);
    font-family: var(--text-font);
}

.createContainer {
    grid-area: link;
    height: 30px;
    color: #CCC;
    text-align: start;
    text-decoration: underline;
    transform: translate(0, 3px);
    font-size: var(--text-size);
    font-family: var(--text-font);
    transition-duration: var(--transition-duration);
}

    .createContainer:hover {
        color: white;
        transition-duration: var(--transition-duration);
    }