@import "./../variables.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30vh 0 40vh 0;
    height: 130vh;
    background-size: auto 1290px;
    background-image: url('./../../../public/assets/bg.jpg');
    background-color: rgba(88, 100, 100, 0.66);
    background-blend-mode: darken;
    background-position-y: var(--bg-position);
    background-position-x: center;
    background-attachment: fixed;
    text-align: center;
    color: white;
}


.titleContainer {
    position: relative;
    height: fit-content;
    width: 55%;
    word-wrap: normal;
    margin: 0 auto;
    top: 40px;
    animation: slideUp 500ms backwards 300ms;
}

.title {
    font-size: 47px;
    font-family: var(--heading-font);
    text-transform: capitalize;
    line-height: 70px;
    letter-spacing: .4vw;
}

.textContainer {
    height: fit-content;
    width: 45%;
    margin: 0 auto;
    word-wrap: normal;
    animation: slideUp 500ms backwards 900ms;
}

.text {
    font-size: 28px;
    font-family: var(--heading-font);
    line-height: 40px;
}

.searchButton {
    height: 50px;
    width: 300px;
    border: none;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 15px;
    font-family: var(--heading-font);
    background-color: rgb(var(--accent-rgb));
    border-radius: 25px;
    color: white;
    transition: background-color 500ms 50ms;
    animation: slideUp 500ms backwards 1500ms;
}

    .searchButton:hover {
        background-color: rgba(var(--accent-rgb), .8);
        transition-duration: 600ms;
    }


@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@media screen and (max-width: 800px) {
    .titleContainer {
        width: 70%;
        text-align: center;
    }

    .title {
        font-size: 30px;
    }

    .textContainer {
        width: 70%;
        text-align: center;
    }

    .text {
        font-size: 20px;
    }
}

@keyframes move {
    0% {
        transform: translate(0) rotate(180deg);
        opacity: 0; 
    }
    50% {
        transform: translate(0, 5px) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: translate(0) rotate(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        transform: translate(0) rotate(180deg);
        opacity: 0;  
    }
    50% {
        transform: translate(0, 5px) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: translate(0) rotate(180deg);
        opacity: 0;
    }
}

.swipeIcon {
    position: fixed;
    bottom: 0;
    left: 47.5%;
    width: 5%;
    animation: move 2s ease-in-out 1500ms 5;
    opacity: 0;
}